<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
  </head>
  <style>
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  #customers tr:hover {background-color: #ddd;}
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4682B4;
    color: white;
  }
  h1 {
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  h3 {
    text-align: center
  }
  body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
  }
  </style>
  <body>
    <div id="app">
      <h1><strong>União</strong> Sistemas</h1>
      <h3><strong>Relátorio de Serviços</strong></h3>
      <hr>

      <table id="customers">
          <tr>
            <th>Valor</th>
            <th>Placa do carro</th>
            <th>Status do Serviço</th>
            <th>Marca do automovel</th>
            <th>Modelo do automovel</th>
            <th>Cor do automovel</th>
            <th>Descrição do serviço</th>
          </tr>
        @each((service in services))
          <tr>
            <td> R${{service.value}} </td>
            <td> {{service.car.board}} </td>
            <td> {{ service.status }} </td>
            <td> {{ service.car.brand }} </td>
            <td> {{ service.car.model }} </td>
            <td> {{ service.car.color }} </td>
            <td> {{ service.describe }} </td>
          </tr>
          @end
      </table>
    </div>
  </body>
  </html>